{% extends 'core/base.html' %}

{% block content %}

    <div class="container d-flex justify-content-center" style="margin-bottom: 252px;">
            <form class="form-group" method="post" action="{% url 'change password'%}">
                <h2 class="text-center" style="margin-bottom: 40px;">Change Password</h2>
                <div class="" style="text-align: center">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="background: burlywood">Submit</button>
                    </div>
                </div>
            </form>
    </div>

{% endblock %}