{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
            <form class="form-group" method="post" action="{% url 'edit profile' pk=request.user.pk%}">
                <h1 class="text-center" style="margin-bottom: 40px;">Edit Profile</h1>
                <div class="" style="text-align: center">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="background: burlywood">Submit</button>
                    </div>
                </div>
            </form>
    </div>


{% endblock %}