{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    <div class="header">
        <div id="header-container" class="container">
            <div class="headerdiv">
                <img src="{% static 'banner.png' %}" class="img-fluid" alt="header SU">
            </div>
        </div>
    </div>

    {#    TODO make contact page!#}
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="{% url 'register' %}" class="btn" style="background: burlywood; margin-top: 15px;">Share Experience</a>
        </div>
    </div>

{% endblock %}