{% load static %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center zoom  mx-auto" style="width: 19rem;box-shadow: 10px 10px 8px #888888">
                <img class="card-img-top" src="{% static 'logo.png' %}" alt="Card image cap">
                <div class="card-body card-custom">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-body card-custom">
                    <a href="#" class="card-link btn" style="background: burlywood">View Skin</a>
                    <a href="#" class="card-link btn" style="background: burlywood">Share Experience</a>
                </div>
            </div>
        </div>
    </div>
</div>
