{% extends 'core/base.html' %}

{% block content %}

    <div class="container" style="margin-top: -60px;margin-bottom: 22px">
        <form class="form-group" method="post" action="{% url 'register' %}">
            <h1 class="text-center" style="margin-bottom: 20px;">Register</h1>
            <div class="" style="text-align: center">
                {% csrf_token %}
                {{ form }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn" style="background: burlywood">Submit</button>
                </div>
                <div class="text-center login-span">
                    <span>Already have an account? Login from here:</span>
                    <div>
                        <a href="{% url 'login' %}" class="btn" style="background: burlywood; margin-top: 15px;">Sign
                            In</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}