{% extends 'core/base.html' %}

{% block content %}

    <div class="container" style="margin-top: -50px;margin-bottom: 30px">
            <form class="form-group" enctype="multipart/form-data" method="post" action="{% url 'agent edit' obj.pk %}">
                <h1 class="text-center" style="margin-bottom: 40px;">Edit Agent</h1>
                <div class="" style="text-align: left">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="background: burlywood">Submit</button>
                    </div>
                </div>
            </form>
    </div>


{% endblock %}