{% extends 'core/base.html' %}

{% block content %}

    {% if is_owner %}
    <div class="container d-flex justify-content-center" style="margin-top: -50px;margin-bottom: 20px">
            <form class="form-group" enctype="multipart/form-data" method="post" action="{% url 'container edit' obj.pk %}">
                <h1 class="text-center" style="margin-bottom: 40px;">Edit Container</h1>
                <div class="" style="text-align: left">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn" style="background: burlywood">Submit</button>
                    </div>
                </div>
            </form>
    </div>
    {% else %}
        <meta http-equiv="REFRESH" content="0;url={% url 'all skins' %}">
    {% endif %}

{% endblock %}