{% extends 'core/base.html' %}
{% load static %}

{% block content %}

        <h1 style="text-align: center;margin-top: 50px">Delete Container</h1>
        <div class="container py-5 h-100" style="margin-bottom: 239px">
            <div class="row d-flex justify-content-center h-100">
                <div class="col-md-12 col-xl-4">
                    <div class="card" style="border-radius: 15px;background-color: bisque">
                        <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                                <img src="{{ object.picture.url }}"
                                     class=" img-fluid" style="width: 100px;"/>
                            </div>
                            <form method="post">{% csrf_token %}
                                <strong><p style="margin-top: 50px">Are you sure you want to delete the
                                    container {{ object.name }}"?</p>
                                </strong>
                                <div class="card-body card-custom">
                                    <button type="submit" class="btn" style="background: burlywood">Confirm</button>
                                    <a href="{% url 'my skins' %}" class="card-link btn"
                                       style="background: burlywood">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
